@import "./mixins.scss";

.main {
	display: flex;
	flex-direction: column;
	flex: auto;
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
	padding: 20px;

	@include mediaQuery("mobile") {
		padding: 15px;
	}
}
